body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(104, 97, 107) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head{
    color:rgb(75, 75, 151)
}
.appContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    min-width: 350px;
    min-height: 500px;
    border-radius: 8px;
}
.icons{
    font-size: 28px;
    cursor: pointer;
    color:royalblue
}